USE [master]
GO
/****** Object:  Database [QLDuAn]    Script Date: 25/10/2022 3:41:41 CH ******/
CREATE DATABASE [QLDuAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDuAn', FILENAME = N'D:\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDuAn.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDuAn_log', FILENAME = N'D:\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDuAn_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDuAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDuAn]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 25/10/2022 3:41:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MaTV] [char](3) NOT NULL,
	[MaDA] [nvarchar](10) NOT NULL,
	[ThoiGianGuiBaoCao] [datetime] NOT NULL,
	[TenBaoCao] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[KetQua] [nvarchar](50) NULL,
 CONSTRAINT [PK_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[MaTV] ASC,
	[MaDA] ASC,
	[ThoiGianGuiBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUAN]    Script Date: 25/10/2022 3:41:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUAN](
	[MaDA] [nvarchar](10) NOT NULL,
	[TenDA] [nvarchar](50) NULL,
 CONSTRAINT [PK_DUAN] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 25/10/2022 3:41:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[HoTen] [nvarchar](50) NULL,
	[MaTV] [char](3) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [char](12) NULL,
	[ViTri] [nvarchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAOCAO] ([MaTV], [MaDA], [ThoiGianGuiBaoCao], [TenBaoCao], [NoiDung], [KetQua]) VALUES (N'215', N'OP10', CAST(N'2022-09-08T00:00:00.000' AS DateTime), N'Chua bat dau', N'daasadsdada', N'chua bat dau')
INSERT [dbo].[BAOCAO] ([MaTV], [MaDA], [ThoiGianGuiBaoCao], [TenBaoCao], [NoiDung], [KetQua]) VALUES (N'235', N'FB02', CAST(N'2022-07-06T00:00:00.000' AS DateTime), N'Chuaxong', N'adasdsadas', N'Chua xong')
INSERT [dbo].[BAOCAO] ([MaTV], [MaDA], [ThoiGianGuiBaoCao], [TenBaoCao], [NoiDung], [KetQua]) VALUES (N'405', N'IT01', CAST(N'2022-05-06T00:00:00.000' AS DateTime), N'Tiendo', N'daasadaassa', N'HoanThanh')
GO
INSERT [dbo].[DUAN] ([MaDA], [TenDA]) VALUES (N'FB02', N'FBTS')
INSERT [dbo].[DUAN] ([MaDA], [TenDA]) VALUES (N'IT01', N'ITEC')
INSERT [dbo].[DUAN] ([MaDA], [TenDA]) VALUES (N'OP10', N'HUFY')
GO
INSERT [dbo].[NHANVIEN] ([HoTen], [MaTV], [Email], [NgaySinh], [SDT], [ViTri]) VALUES (N'Phuc', N'215', N'hphuc', CAST(N'2003-07-08' AS Date), N'0988888888  ', N'GD')
INSERT [dbo].[NHANVIEN] ([HoTen], [MaTV], [Email], [NgaySinh], [SDT], [ViTri]) VALUES (N'Phat', N'235', N'hphat', CAST(N'2022-10-25' AS Date), N'0960000000  ', N'QL')
INSERT [dbo].[NHANVIEN] ([HoTen], [MaTV], [Email], [NgaySinh], [SDT], [ViTri]) VALUES (N'Xuan', N'405', N'xuanle', CAST(N'2003-04-10' AS Date), N'0978888888  ', N'TP')
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAO_DUAN] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DUAN] ([MaDA])
GO
ALTER TABLE [dbo].[BAOCAO] CHECK CONSTRAINT [FK_BAOCAO_DUAN]
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAO_NHANVIEN] FOREIGN KEY([MaTV])
REFERENCES [dbo].[NHANVIEN] ([MaTV])
GO
ALTER TABLE [dbo].[BAOCAO] CHECK CONSTRAINT [FK_BAOCAO_NHANVIEN]
GO
USE [master]
GO
